<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>user Profile</title>
  <link rel="stylesheet" href="../public/CSS/style_profile_t.css">
</head>
<body>
  <main>
    <header>
      <h1>user Profile</h1>
    </header>


    <section class="profile-details">
      
      <div class="detail">
    <table>
      <tr>
        <td>firstName:</td>
        <td> <%= usrsdata.firstName %></td>
      </tr>
      
      <tr>
        <td>lastName:</td>
        <td><%= usrsdata.lastName %></td>
      </tr>
      <tr>
        <td>contactNo:</td>
        <td><%= usrsdata.name %></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td><%= usrsdata.location %></td>
      </tr>
      </table>
    </section>

    </main>
  <!-- <script src="../JS/profile_t.js"></script> -->
</body>
</html>

